# question 1

In [22]:
t=[2,3,6]
some=1
for i in t:
    some=some*i
print(some)

36

# question 2

In [23]:
def get(x):
    return x[1]
T=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
T.sort(key=get)
print (T)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

# question 3

In [11]:
d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

d3 = {}

for key1,key2 in zip(d1.keys(),d2.keys()):
    if key1 == key2:
        d3[key1] = d1[key1]+d2[key2]
    else:
        d3[key1] = d1[key1]
        d3[key2] = d2[key2]
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

# question 4

In [23]:
n = 8
d = {}
for i in range(1,n+1,1):
    d[i] = i*i
print (d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# question5

In [24]:
list1= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
def get(x):
    return float(x[1])
list1.sort(key = get,reverse=True)
print(list1)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

# question 6

In [28]:
m={2,4,5,6}
for val in m:
    print (val)

2
4
5
6