# question 1

In [24]:
df.head(3)

      Nom  Age      prénom
0     Ali   26     Botaleb
1  Moncef   11  Khayroufah

# question 2

In [32]:
df2 = df.drop("Age",axis=1)

# question 3

In [39]:
df = df.dropna(axis = 0)

In [40]:
df

      Nom  Age      prénom
0     Ali   26     Botaleb
1  Moncef   11  Khayroufah

# question 4

In [1]:

import pandas as pd
series1 = pd.Series(array)  #create the series from the array
print(series1)

NameError: name 'array' is not defined

# question 5

In [4]:
import pandas as pd
df.drop("Ali",axis=1)

NameError: name 'df' is not defined

# question 6